@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monument Extended";
    font-weight: normal;
    font-style: normal;
    src: url("../public/fonts/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "Monument Extended";
    font-weight: 800;
    font-style: normal;
    src: url("../public/fonts/MonumentExtended-Ultrabold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@layer base {
    h1 {
        @apply text-2xl;
        @apply font-semibold;
    }

    h2 {
        @apply text-xl;
        @apply font-semibold;
    }

    h3 {
        @apply text-lg;
        @apply font-semibold;
    }
}

.container-carousel {
    overflow: visible !important;
}

.carousel-card-event-item {
    @apply flex;
    @apply justify-center;
    @apply px-1.5;
}